@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300,600)
@import 'reset.sass'

$background-color: #282a36

body
  background-color: $background-color
  font-family: Raleway

@import 'intro.sass'
