@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300,600)
@import 'reset.sass'

$background-color: #282a36
$yellow-color: #e6e62b
$green-color: #3eb165
$red-color: #a52a2a

body
  background-color: $background-color
  font-family: Raleway

@import 'flash.sass'
@import 'intro.sass'
