doctype html
html(lang='en')
  head
    title JS Pad
    link(rel='icon' type='image/png' sizes='96x96' href='public/favicon-96x96.png')
    != webpackCssTag('application')

  body
    #content
    != webpackJsTag('application')
