doctype html
html(lang='en')
  head
    title JS Pad
    link(rel='icon' type='image/png' sizes='96x96' href='public/favicon-96x96.png')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    != webpackCssTag('application')

  body
    #content
    != webpackJsTag('application')
