@import '../../styles/defaults.sass'

.navbar
  background-color: darken($background-color, 2%)
  color: $text-color
  display: flex
  height: $navbar-height
  justify-content: space-between

.navbar-logo
  color: $yellow-color
  font-size: 20px
  font-weight: bold
  line-height: $navbar-height
  padding: 0 20px

.navbar-user
  display: flex
  justify-content: flex-end

.navbar-user_name
  max-height: $navbar-height
  line-height: 15px
  padding: 15px 0
  text-align: right

.navbar-user_avatar
  border-radius: 50%
  height: 40px
  margin: 10px
  width: 40px

.navbar-user_logout_link
  background-color: transparent
  color: $text-color
  font-size: 12px
  padding: 0
  text-decoration: none
  transition: opacity 200ms

  &:hover
    opacity: .75
