<!DOCTYPE html>
<html>
  <head>
    <title>JS Pad</title>
    <link rel='stylesheet' media='all' href='<%= webpackCssEntry('application') %>' />
  </head>

  <body>
    <header class='intro'>
      <h1 class='intro-title'>JS Pad</h1>
      <a class='intro-link' href='/auth/github'>Login with Github</a>
    </header>

    <script type='text/javascript' src='<%= webpackJsEntry('application') %>'></script>
  </body>
</html>
