extends ./layout.jade

block content
  include ./_navbar.jade

  .pad
    .pad-frame_wrapper
      iframe.pad-frame(src='/padframe')

    .pad-editor_wrapper
      textarea.pad-editor(data-component='editor')
        | // Write your code here
