extends ./layout.jade

block content
  .pad-frame_inner
    .pad-frame_task
      | What is a potential pitfall with using <span class='pad-frame_task_code'>typeof bar === "object"</span> to determine if bar is an object? How can this pitfall be avoided?
